{
  "presets": [
    "stage-3"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-flow-strip-types"
  ],
  "sourceMaps": "inline"
}
