{
  "env": {
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "conf": true,
    "rootPath": true
  },
  "rules": {
    "global-require": 0,
    "import/no-dynamic-require": 0
  }
}
